body {
    background: #181b30;
    color: #d1d1d1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#first{
    color: #3cff01;
}

#second{
    color: #ff7c01;
}

#third{
    color: #349dff;
}

#fourth{
    color: #eeff00;
}

#fifth {
    color: #ff67f7;
}

.all {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 520px;
    height: 520px;
    display: grid;
    border: 1px solid #b9b9b9;
    padding: 15px;
}

#grid {
    border: 1px solid #b9b9b9;
}

.form {
    margin: 15px;
    padding: 10px 10px;
    border: 1px solid #b9b9b9;
    border-radius: 5px;
}

input {
    margin: 0 10px;
}

.tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #b9b9b9;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

.tools h2 {
    margin: 0 25px 25px 25px;
}

button {
    cursor: pointer;
    background: #0e101d;
    color: #b9b9b9;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    width: 80px;
    border: 2px solid #b9b9b9;
    border-radius: 5px;
    transition: .1s;
}

button:hover {
    color: #838383;
    border: 2px solid #838383;
}

#reset {
    margin-top: 20px;
}

.dark-mode {
    background: #b9b9b9;
    color: #0e101d;
    border: 2px solid #0e101d;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 120px;
    padding: 15px;
}